@mixin centerFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fullScreen() {
    height: 100vh;
    width: 100vw;
}

@mixin absolutePosition() {
    position: absolute;
    top: 0;
    left: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    position: relative;
}

nav {
    @include absolutePosition();
    @include centerFlex();
    width: 100%;
    padding: 20px;

    h1 {
        font-size: 3vh;
    }

    ul {
        @include centerFlex();

        li {
            font-size: 2vh;
            list-style: none;
            margin: auto 10px;
        }

        li:hover {
            cursor: pointer;
            color: white;
        }

        .highlight {
            color: white;
        }
    }
    z-index: 100;
}

.button {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: 100px;
    line-height: 100px;
    top: 50vh;
    margin-top: -50px;
    font-size: 7vw;
    z-index: 100;
    animation: buttonAnim 2s linear 1s infinite;
}

.button:hover {
    cursor: pointer;
    color: white;
}

.right {
    right: 2vw;
}

.left {
    left: 2vw;
    opacity: 10%;
}

#yellow {
    @include fullScreen();
    @include absolutePosition();
    @include centerFlex();
    background: lightgoldenrodyellow;
    transform: translateX(100vw);
    transition: transform 1s ease-in;
    z-index: 4;
}

#green {
    @include absolutePosition();
    @include fullScreen();
    background: lightgreen;
    transform: translateX(100vw);
    transition: transform 1s ease-in;
    z-index: 3;
    overflow-y: scroll;

    .gray-box {
        @include fullScreen();
        @include centerFlex();
        background-color: rgb(65, 65, 65);
    }
    .green-box {
        @include fullScreen();
        @include centerFlex();
    }
}

#blue {
    @include fullScreen();
    @include absolutePosition();
    @include centerFlex();
    background: lightblue;
    transform: translateX(100vw);
    transition: transform 1s ease-in;
    z-index: 2;
}

#red {
    @include absolutePosition();
    @include fullScreen();
    @include centerFlex();
    background: lightcoral;
    z-index: 1;
    transition: transform 1s ease-in;

    .title-box {
        position: relative;
        height: 35vh;
        width: 55vw;
        font-size: 2vw;

        .title-top {
            position: relative;
            height: 70%;
            border-bottom: 8px solid black;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            overflow: hidden;

            h1 {
                animation: topTitleAnim 1.6s ease;
            }

            .job {
                transition: transform .8s ease;
                color: rgb(75, 75, 75);
            }
        }

        .title-bottom {
            position: relative;
            height: 30%;
            overflow: hidden;

            h1 {
                animation: bottomTitleAnim 2.6s ease;
            }
        }
    }
}

.spacer {
    flex-grow: 1;
}

@keyframes buttonAnim {
    0% {
        margin-left: 0;
        margin-right: 0;
    } 50% {
        margin-left: 10px;
        margin-right: 10px;
    } 100% {
        margin-left: 0;
        margin-right: 0;
    }
}

@keyframes topTitleAnim {
    0% {
        transform: translateY(20vh);
    } 40%, 60% {
        transform: translateY(10vh) 
    } 100% {
        transform: translateY(0);
    }
}

@keyframes bottomTitleAnim {
    0%, 70% {
        transform: translateY(-10vh);
    } 100% {
        transform: translateY(0);
    }
}