@mixin centerFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fullScreen() {
    height: 100vh;
    width: 100vw;
}

@mixin absolutePosition() {
    position: absolute;
    top: 0;
    left: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    position: relative;
    font-family: 'Do Hyeon', sans-serif;
}

nav {
    @include absolutePosition();
    @include centerFlex();
    width: 100%;
    padding: 20px;

    h1 {
        font-size: 3vh;
    }

    ul {
        @include centerFlex();

        li {
            font-size: 2vh;
            list-style: none;
            margin: auto 10px;
        }

        li:hover {
            cursor: pointer;
            color: white;
        }

        .highlight {
            color: white;
        }
    }
    z-index: 100;
}

.button {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: 100px;
    line-height: 100px;
    top: 50vh;
    margin-top: -50px;
    font-size: 7vw;
    z-index: 100;
    animation: buttonAnim 2s linear 1s infinite;
}

.button:hover {
    cursor: pointer;
    color: white;
}

.right {
    right: 2vw;
}

.left {
    left: 2vw;
    opacity: 10%;
}

#yellow {
    @include fullScreen();
    @include absolutePosition();
    @include centerFlex();
    background: lightgoldenrodyellow;
    transform: translateX(100vw);
    transition: transform 1s ease-in;
    z-index: 6;
}

#green {
    @include absolutePosition();
    @include fullScreen();
    background: lightgreen;
    transform: translateX(100vw);
    transition: transform 1s ease-in;
    z-index: 5;
    overflow-y: scroll;

    .gray-box {
        @include fullScreen();
        @include centerFlex();
        background-color: rgb(65, 65, 65);
    }
    .green-box {
        @include fullScreen();
        @include centerFlex();
    }
}

#blue {
    @include fullScreen();
    @include absolutePosition();
    @include centerFlex();
    background: lightblue;
    transform: translateX(100vw);
    transition: transform 1s ease-in;
    z-index: 2;

    .about-wrapper {
        @include centerFlex();
        height: 800px;
        width: 85vw;
        position: relative;

            .profile {
                transform: translateY(50vw);
                opacity: 0;
                transition: opacity 1s, transform 1s;
                position: absolute;
                top: 50px;
                left: 20px;
                height: 30vw;
                width: 30vw;
                min-height: 500px;
                min-width: 500px;
                
                img {
                    border-radius: 100%;
                    height: 100%;
                    width: 100%;
                }
            }

            .shadow-box {
                transform: translateY(50vw);
                opacity: 0;
                transition: opacity 1s, transform 1s;
                position: absolute;
                top: 400px;
                right: 50px;
                min-height: 300px;
                min-width: 60vw;
                z-index: 3;
                background-color: rgba(255, 255, 255, 0.5);
            }
        
            .about-box {
                transform: translateY(50vw);
                opacity: 0;
                transition: opacity 1s, transform 1s;
                position: absolute;
                top: 430px;
                right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;;
                z-index: 4;
                height: 300px;
                width: 60vw;
                padding: 20px 30px;
                background-color: rgba(255, 255, 255, .5);

                h1 {
                    font-size: 8vh;
                }

                p {
                    font-size: 3.5vh;
                }
            }

            .skills-box {
                overflow-x: hidden;
                white-space: nowrap;
                transform: translateY(50vw);
                opacity: 0;
                transition: opacity 1s, transform 1s;
                position: absolute;
                top: 150px;
                right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;;
                z-index: 4;
                height: 22vh;
                width: 30vw;
                min-width: 380px;
                padding: 0 10px;
                border-left: 3px solid black;
                border-right: 3px solid black;

                h1 {
                    font-size: 3.5vh;
                    margin-bottom: 10px;
                    text-align: center;
                }

                .skills-container {
                    font-size: 2vh;
                    @include centerFlex();
                    flex-wrap: wrap;

                    div {
                        background-color: lightgray;
                        padding: 5px;
                        margin: 5px;
                    }
                }
            }
    }

}

@media only screen and (max-width: 1100px) {
    #blue {
        .about-wrapper {
            .about-box {
                h1 {
                    font-size: 7vh;
                }

                p {
                    font-size: 3vh;
                }
            }
        }
    }
}

#red {
    @include absolutePosition();
    @include fullScreen();
    @include centerFlex();
    background: lightcoral;
    z-index: 1;
    transition: transform 1s ease-in;

    .title-box {
        position: relative;
        height: 35vh;
        width: 57vw;
        font-size: 2vw;

        .title-top {
            position: relative;
            height: 70%;
            border-bottom: 8px solid black;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            overflow: hidden;
            padding: 0 1vw;

            h1 {
                animation: topTitleAnim 1.6s ease;
            }

            .job {
                transition: transform .8s ease;
                color: rgb(75, 75, 75);
            }
        }

        .title-bottom {
            position: relative;
            height: 30%;
            overflow: hidden;
            padding: 1vh 1vw;

            h1 {
                animation: bottomTitleAnim 2.8s ease;
            }
        }
    }
}

.spacer {
    flex-grow: 1;
}

@keyframes buttonAnim {
    0% {
        margin-left: 0;
        margin-right: 0;
    } 50% {
        margin-left: 10px;
        margin-right: 10px;
    } 100% {
        margin-left: 0;
        margin-right: 0;
    }
}

@keyframes topTitleAnim {
    0% {
        transform: translateY(20vh);
    } 30%, 60% {
        transform: translateY(10vh) 
    } 100% {
        transform: translateY(0);
    }
}

@keyframes bottomTitleAnim {
    0%, 70% {
        transform: translateY(-15vh);
    } 100% {
        transform: translateY(0);
    }
}

@keyframes skillOne {
    0% {
        text-align: left;
    } 50% {
        text-align: right;
    } 100% {
        text-align: left;
    }
}

@keyframes skillTwo {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-280px);
    }
}