* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px;
  z-index: 100;
}

nav h1 {
  font-size: 3vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  font-size: 2vh;
  list-style: none;
  margin: auto 10px;
}

nav ul li:hover {
  cursor: pointer;
  color: white;
}

nav ul .highlight {
  color: white;
}

.button {
  position: absolute;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  line-height: 100px;
  top: 50vh;
  margin-top: -50px;
  font-size: 7vw;
  z-index: 100;
  -webkit-animation: buttonAnim 2s linear 1s infinite;
          animation: buttonAnim 2s linear 1s infinite;
}

.button:hover {
  cursor: pointer;
  color: white;
}

.right {
  right: 2vw;
}

.left {
  left: 2vw;
  opacity: 10%;
}

#yellow {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightgoldenrodyellow;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  z-index: 4;
}

#green {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: lightgreen;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  z-index: 3;
  overflow-y: scroll;
}

#green .gray-box {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #414141;
}

#green .green-box {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blue {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightblue;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  z-index: 2;
}

#red {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightcoral;
  z-index: 1;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
}

#red .title-box {
  position: relative;
  height: 35vh;
  width: 55vw;
  font-size: 2vw;
}

#red .title-box .title-top {
  position: relative;
  height: 70%;
  border-bottom: 8px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#red .title-box .title-top h1 {
  -webkit-animation: topTitleAnim 1.6s ease;
          animation: topTitleAnim 1.6s ease;
}

#red .title-box .title-top .job {
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  color: #4b4b4b;
}

#red .title-box .title-bottom {
  position: relative;
  height: 30%;
  overflow: hidden;
}

#red .title-box .title-bottom h1 {
  -webkit-animation: bottomTitleAnim 2.6s ease;
          animation: bottomTitleAnim 2.6s ease;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@-webkit-keyframes buttonAnim {
  0% {
    margin-left: 0;
    margin-right: 0;
  }
  50% {
    margin-left: 10px;
    margin-right: 10px;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
  }
}

@keyframes buttonAnim {
  0% {
    margin-left: 0;
    margin-right: 0;
  }
  50% {
    margin-left: 10px;
    margin-right: 10px;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
  }
}

@-webkit-keyframes topTitleAnim {
  0% {
    -webkit-transform: translateY(20vh);
            transform: translateY(20vh);
  }
  40%, 60% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes topTitleAnim {
  0% {
    -webkit-transform: translateY(20vh);
            transform: translateY(20vh);
  }
  40%, 60% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bottomTitleAnim {
  0%, 70% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bottomTitleAnim {
  0%, 70% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */