* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
  font-family: 'Do Hyeon', sans-serif;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px;
  z-index: 100;
}

nav h1 {
  font-size: 3vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  font-size: 2vh;
  list-style: none;
  margin: auto 10px;
}

nav ul li:hover {
  cursor: pointer;
  color: white;
}

nav ul .highlight {
  color: white;
}

.button {
  position: absolute;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  line-height: 100px;
  top: 50vh;
  margin-top: -50px;
  font-size: 7vw;
  z-index: 100;
  -webkit-animation: buttonAnim 2s linear 1s infinite;
          animation: buttonAnim 2s linear 1s infinite;
}

.button:hover {
  cursor: pointer;
  color: white;
}

.right {
  right: 2vw;
}

.left {
  left: 2vw;
  opacity: 10%;
}

#yellow {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightgoldenrodyellow;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  z-index: 6;
}

#green {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: lightgreen;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  z-index: 5;
  overflow-y: scroll;
}

#green .gray-box {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #414141;
}

#green .green-box {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blue {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightblue;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  z-index: 2;
}

#blue .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
  width: 85vw;
  position: relative;
}

#blue .about-wrapper .profile {
  -webkit-transform: translateY(50vw);
          transform: translateY(50vw);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  position: absolute;
  top: 50px;
  left: 20px;
  height: 30vw;
  width: 30vw;
  min-height: 500px;
  min-width: 500px;
}

#blue .about-wrapper .profile img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

#blue .about-wrapper .shadow-box {
  -webkit-transform: translateY(50vw);
          transform: translateY(50vw);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  position: absolute;
  top: 400px;
  right: 50px;
  min-height: 300px;
  min-width: 60vw;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5);
}

#blue .about-wrapper .about-box {
  -webkit-transform: translateY(50vw);
          transform: translateY(50vw);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  position: absolute;
  top: 430px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
  height: 300px;
  width: 60vw;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

#blue .about-wrapper .about-box h1 {
  font-size: 8vh;
}

#blue .about-wrapper .about-box p {
  font-size: 3.5vh;
}

#blue .about-wrapper .skills-box {
  overflow-x: hidden;
  white-space: nowrap;
  -webkit-transform: translateY(50vw);
          transform: translateY(50vw);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  position: absolute;
  top: 150px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
  height: 22vh;
  width: 30vw;
  min-width: 380px;
  padding: 0 10px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

#blue .about-wrapper .skills-box h1 {
  font-size: 3.5vh;
  margin-bottom: 10px;
  text-align: center;
}

#blue .about-wrapper .skills-box .skills-container {
  font-size: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blue .about-wrapper .skills-box .skills-container div {
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

@media only screen and (max-width: 1100px) {
  #blue .about-wrapper .about-box h1 {
    font-size: 7vh;
  }
  #blue .about-wrapper .about-box p {
    font-size: 3vh;
  }
}

#red {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightcoral;
  z-index: 1;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
}

#red .title-box {
  position: relative;
  height: 35vh;
  width: 57vw;
  font-size: 2vw;
}

#red .title-box .title-top {
  position: relative;
  height: 70%;
  border-bottom: 8px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 0 1vw;
}

#red .title-box .title-top h1 {
  -webkit-animation: topTitleAnim 1.6s ease;
          animation: topTitleAnim 1.6s ease;
}

#red .title-box .title-top .job {
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  color: #4b4b4b;
}

#red .title-box .title-bottom {
  position: relative;
  height: 30%;
  overflow: hidden;
  padding: 1vh 1vw;
}

#red .title-box .title-bottom h1 {
  -webkit-animation: bottomTitleAnim 2.8s ease;
          animation: bottomTitleAnim 2.8s ease;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@-webkit-keyframes buttonAnim {
  0% {
    margin-left: 0;
    margin-right: 0;
  }
  50% {
    margin-left: 10px;
    margin-right: 10px;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
  }
}

@keyframes buttonAnim {
  0% {
    margin-left: 0;
    margin-right: 0;
  }
  50% {
    margin-left: 10px;
    margin-right: 10px;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
  }
}

@-webkit-keyframes topTitleAnim {
  0% {
    -webkit-transform: translateY(20vh);
            transform: translateY(20vh);
  }
  30%, 60% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes topTitleAnim {
  0% {
    -webkit-transform: translateY(20vh);
            transform: translateY(20vh);
  }
  30%, 60% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bottomTitleAnim {
  0%, 70% {
    -webkit-transform: translateY(-15vh);
            transform: translateY(-15vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bottomTitleAnim {
  0%, 70% {
    -webkit-transform: translateY(-15vh);
            transform: translateY(-15vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes skillOne {
  0% {
    text-align: left;
  }
  50% {
    text-align: right;
  }
  100% {
    text-align: left;
  }
}

@keyframes skillOne {
  0% {
    text-align: left;
  }
  50% {
    text-align: right;
  }
  100% {
    text-align: left;
  }
}

@-webkit-keyframes skillTwo {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
  }
}

@keyframes skillTwo {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
  }
}
/*# sourceMappingURL=main.css.map */